<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<form style="text-align: center;width:550px; margin:0 auto;border: 1px solid black;margin-top: 50px;"  id="myform">
    <h2>栏目新增</h2>
    <label>栏目名称:</label><input type="text" name="name" id="name"/><br/><br/>

    <label>栏目类型:</label>
    <select name="type" id="type" style="width: 160px">
        <option value="1">内容</option>
        <option value="2">列表</option>
        <option value="3">图文</option>
    </select><br/><br/>

    <label>父级栏目:</label>
    <select name="parent" id="parent" style="width: 160px">
        <option value="0"> 一级分类</option>
        <volist name="results" id="row">
            <if condition="$row.level eq 0">
                <option value="{$row.id}">{$row.name}</option>
            </if>
        </volist>
    </select><br/><br/>

    <label>SEO标题:</label><input type="text" name="title" id="title"><br/><br/>
    <label>SEO关键字:</label><input type="text" name="keyWord" id="keyWord"/><br/><br/>
    <label>SEO描述:</label><input type="text" name="description" id="description"/><br/><br/>
    <input type="submit" id="btn-btn"/>
</form>

<script>
    function check(){
        if($('#name').val() == ''){
            alert('请输入栏目名称');
            return false;
        }else if($('#title').val() == ''){
            alert('请输入SEO标题');
            return false;
        }else if($('#keyWord').val() == ''){
            alert('请输入SEO关键字');
            return false;
        }else if($('#description').val() == ''){
            alert('请输入SEO描述');
            return false;
        }
    }
</script>

<script>
    $(function(){
        $("#btn-btn").click(function(){
            if(check()==false){
                location.href=this.location.href;
            }
            if(confirm('确认新增栏目?')){
                var name=$("#name").val();
                var type=$("#type").val();
                var parent=$("#parent").val();
                var title=$("#title").val();
                var keyWord=$("#keyWord").val();
                var description=$("#description").val();

                var data={
                    name:name,
                    type:type,
                    parent:parent,
                    title:title,
                    keyWord:keyWord,
                    description:description
                };

                var url="{:U('/cateAdd')}";

                $.post({
                    url:url,
                    data:data,
                    type:'post',
                    success:function(res){
                        if(res.error==0){
                            alert(res.message);
                            location.href="{:U('/category')}";
                        }else{
                            alert(res.message);
                            location.href=this.location.href;
                        }
                    }
                });
            }
            return false;
        })
    })

</script>
</body>
</html>