<extend name="Layout/layout"/>
<block name="head">
    <title>文章管理</title>
    <link href='http/fonts.googleapis.com/MS_5.html' rel='stylesheet' type='text/css'>
    <link href='http/fonts.googleapis.com/MS_3.html' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/admin/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/bootstrap.switch/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/jquery.select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/bootstrap.slider/css/slider.css" />
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/admin/fonts/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/jquery.nanoscroller/nanoscroller.css" />

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta></head>

</block>

<block name="editArticle">active</block>

<block name="content">
    <div class="page-head">
        <h2>修改文章</h2>
        <ol class="breadcrumb">
            <li><a href="{:U('/')}">首页</a></li>
            <li><a href="#">文章管理</a></li>
            <li class="active">修改文章</li>
        </ol>
    </div>
    <div class="cl-mcont">


        <div class="row">
            <div class="col-md-12">

                <div class="block-flat">
                    <div class="header">
                        <h3>修改文章</h3>
                    </div>
                    <div class="content">
                        <form class="form-horizontal group-border-dashed" action="#">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">文章名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属一级栏目</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属二级栏目</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">来源</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">文章简介</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">文章内容</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">形象图</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">附件</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作者</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO标题</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required data-parsley-maxlength="6" placeholder="Max 6 chars." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO关键字</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required data-parsley-length="[5,10]" placeholder="Text between 5 - 10 chars length" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required data-parsley-min="6" placeholder="Min value is 6" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序                                                                                               </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required data-parsley-max="6" placeholder="Max value is 6" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</block>

<block name="appendJS">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.parsley/dist/parsley.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/admin/js/jquery.parsley/src/extra/dateiso.js" type="text/javascript"></script>
    <script src="__PUBLIC__/admin/js/jquery.select2/select2.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.slider/js/bootstrap-slider.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.nestable/jquery.nestable.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/behaviour/general.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.ui/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            //initialize the javascript
            App.init();
            $('form').parsley();
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/admin/js/behaviour/voice-commands.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap/dist/js/bootstrap.min.js"></script>
</block>

